#body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: fff;
    color: 101010;
}

p
{
    text-indent: 0.50in;
}

div {
  border: 0px solid red;
}

h3
{
    color: a00000;
    text-align: center;
}

#hello
{
	
}

#title
{
 text-align: center;
}


H1 
{
	text-align: center;
}

.text
{

}

#whatido
{

}

#jeremy
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#course
{

}

#webexp
{

}

#programexp
{

}

#php
{

}

#system
{

}

#everythingelse
{

}

iframe
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#callahan
{
    text-align: center;
}